Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np
import os

In [ ]:
dates_df = pd.read_csv('/content/drive/MyDrive/IDeA Lab/The Equation/Precipitation/precip_dates.csv')
dates_df = dates_df[dates_df['Date'] > '2002-07-03']
d_series = pd.to_datetime(dates_df['Date'])
dates_df['Date'] = d_series
dates_df['Random'] = ['stuff']*len(dates_df)
dates_df

           Date Random
1280 2002-07-04  stuff
1281 2002-07-05  stuff
1282 2002-07-06  stuff
1283 2002-07-07  stuff
1284 2002-07-08  stuff
...         ...    ...
7301 2018-12-28  stuff
7302 2018-12-29  stuff
7303 2018-12-30  stuff
7304 2018-12-31  stuff
7305 2019-01-01  stuff

[6026 rows x 2 columns]

In [ ]:
Temp_ts_path = '/content/drive/MyDrive/IDeA Lab/The Equation/Temperature/Basin_Temp_ts'
Temp_ts_exported = []

for file in os.listdir(Temp_ts_path): 
  Temp_ts_exported.append(file) 
print(len(Temp_ts_exported))

4488

In [11]:
Temp_ts_path = 'Temp_TS/'
Temp_ts_exported = []

for file in os.listdir(Temp_ts_path):  
  file_path = os.path.join(Temp_ts_path,file)
  Temp_df = pd.read_csv(file_path)
  Temp_df = Temp_df.rename(columns={'Unnamed: 0':'Date'})
  Temp_df = Temp_df.rename(columns={'Region Daily Average LST':'Daily Average LST [C]'})

  Temp_df["Date"] = pd.to_datetime(Temp_df["Date"])
  Temp_df = Temp_df.set_index("Date")
  Temp_df = Temp_df.resample("D").asfreq()
  print(Temp_df)


  Temp_series = Temp_df['Daily Average LST [C]'].values.tolist()
  Temp_series = pd.Series(Temp_series)
  Temp_series = Temp_series.interpolate()
  Temp_list = Temp_series.to_list()
  Temp_df['Daily Average LST [C]'] = Temp_list

  file_PathName = 'Temp_TS_Filled/' + file
  Temp_df.to_csv(path_or_buf=file_PathName,index=True)
  break

            Daily Average LST [C]
Date
2002-07-04              27.638446
2002-07-05                    NaN
2002-07-06                    NaN
2002-07-07                    NaN
2002-07-08                    NaN
...                           ...
2023-02-14                    NaN
2023-02-15                    NaN
2023-02-16                    NaN
2023-02-17                    NaN
2023-02-18              -0.301219

[7535 rows x 1 columns]

In [7]:
Temp_ts_path = '/content/drive/MyDrive/IDeA Lab/The Equation/Temperature/Basin_Temp_TS_for_model'
Temp_ts_exported = []

for file in os.listdir(Temp_ts_path): 
  Temp_ts_exported.append(file) 
print(len(Temp_ts_exported))

4488

In [ ]:
Temp_df = pd.read_csv('/content/drive/MyDrive/IDeA Lab/The Equation/Temperature/Basin_Temp_ts/basin_1104200.csv')
Temp_df.columns = ['Date', 'Region Day LST [C]', 'Region Night LST [C]', 'Daily Average LST [C]']
Temp_df = Temp_df.loc[:,['Date', 'Daily Average LST [C]']]
Temp_df = Temp_df[Temp_df['Date'] < '2019-01-04']
date_series = pd.to_datetime(Temp_df['Date'])
Temp_df['Date'] = date_series
Temp_df

          Date  Daily Average LST [C]
0   2002-07-04              30.043838
1   2002-07-12              29.761687
2   2002-07-20              32.975608
3   2002-07-28              31.704128
4   2002-08-05              29.711206
..         ...                    ...
755 2018-12-03              13.340680
756 2018-12-11              10.561474
757 2018-12-19              10.575093
758 2018-12-27               8.441629
759 2019-01-01               8.160712

[760 rows x 2 columns]

In [ ]:
df = dates_df.set_index('Date').join(Temp_df.set_index('Date'))
Temp_series = df['Daily Average LST [C]'].values.tolist()
Temp_series = pd.Series(Temp_series)
Temp_series = Temp_series.interpolate()
Temp_list = Temp_series.to_list()
df['Daily Average LST [C]'] = Temp_list
df = df.loc[:,['Daily Average LST [C]']]
df

            Daily Average LST [C]
Date
2002-07-04              30.043838
2002-07-05              30.008569
2002-07-06              29.973300
2002-07-07              29.938031
2002-07-08              29.902762
...                           ...
2018-12-28               8.385445
2018-12-29               8.329262
2018-12-30               8.273079
2018-12-31               8.216895
2019-01-01               8.160712

[6026 rows x 1 columns]